*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  height: 100vh;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

h1 {
  font-size: 52px;
  font-weight: 500;
  line-height: 1.2em;
  color: rgb(67, 48, 48, 74%);
  font-family: 'Libre Baskerville', serif;
}

